.home__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__location {
  width: 100%;
  margin-bottom: 10px;
}

.home__about {
  font-size: 60px;
  width: 50%;
  margin: auto;
}

.home__contact {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home_contact-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home__email {
  height: 60px;
  width: 50%;
  margin: auto;
}

.home__apply {
  height: 60px;
  width: 50%;
  margin: auto;
}
