.locationcard {
  margin: 10px;
  border: 1px solid black;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.locationcard__imgbox {
}

.locationcard__img {
}

.locationcard__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}

.locationcard__title {
}

.locationcard__name {
}

.locationcard__number {
}

.locationcard__btn {
}
