.map__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 1px;
  padding: 5px;
  min-height: 500px;
  border-radius: 5px;
  position: relative;
  background-color: grey;
}

.map__container::before {
  position: absolute;
  content: "";
  background: linear-gradient(to bottom right, cyan, rgb(250, 113, 170));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -5px;
  border-radius: 5px;
}

.map__title {
  background: none;
  margin: 0;
}

.map__map {
  border-top: solid;
  height: 500px;
}
